@implements Davis.Core.IDavisPlugin

<div class="p-3">
    <div class="form-floating mb-3">
        <textarea @onchange="OnRegexStrChange" @onchange:stopPropagation="true" class="form-control" placeholder="cookies" id="json" style="height: 150px"></textarea>
        <label for="json">Pattern</label>
    </div>

    <div class="form-floating mb-3">
        <textarea @onchange="OnTxtChange" @onchange:stopPropagation="true" class="form-control" placeholder="cookies" id="json" style="height: 150px"></textarea>
        <label for="json">txt</label>
    </div>
    @if (_matchCollection != null)
    {
        if (_matchCollection.Count == 0)
        {
            <div>
                not found match string
            </div>
        }
        else
        {
            <ul class="list-group list-group-flush mb-3">
                @foreach (System.Text.RegularExpressions.Match match in _matchCollection)
                {
                    <li class="list-group-item">@match.Value</li>
                }
            </ul>
        }
    }
    

    <footer class="d-flex justify-content-end mb-3">
        <a href="/" class="btn btn-light">返回</a> &nbsp;&nbsp;
        <button @onclick="@OnOk" type="button" class="btn btn-primary">确定</button>
    </footer>
</div>