@page "/plugin/{PluginName}"
@using System.Reflection;
@using Davis.Core;
@using System.Text.Encodings.Web;
@using System.Web;
@inject PluginService PluginService

@if (_dynamicType != null)
{
    <DynamicComponent Type="_dynamicType" @ref="@_dynamicConponentRef"></DynamicComponent>
}
else
{
    <div>
        @_msg
    </div>
}