@page "/plugin/{PluginName}"
@using System.Reflection;
@using Davis.Core;
@using System.Text.Encodings.Web;
@using System.Web;

@if (_dynamicType != null)
{
    <CascadingValue Value="@Context">
        <DynamicComponent Type="_dynamicType" @ref="@_dynamicConponentRef"></DynamicComponent>
    </CascadingValue>
}
else
{
    <div>
        @_msg
    </div>
}